.navbar {
  background-color: #f8f9fa;
}

.navbar .navbar-nav .nav-item {
  margin-right: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.navbar .navbar-nav .nav-item:hover {
  background-color: #e9ecef;
}

.navbar .navbar-nav .nav-item.active {
  background-color: #6c757d;
  color: #fff;
}
.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-margin {
  margin-left: 10px;
}
